<h1><%= @user.name %>'s Page</h1>

<p>I host the following events:</p>

<ul>
  <% @user.events.each do |event| %>
    <li><%= event.name %></li>
  <% end %>
</ul>

<p>I have attended the following events:</p>
<ul>
  <% @user.attended_events.where("date < ?", Time.now).each do |event| %>
    <li><%= event.name %></li>
  <% end %>
</ul>

<p>I will attend the following events:</p>
<ul>
  <% @user.attended_events.where("date > ?", Time.now).each do |event| %>
    <li><%= event.name %></li>
  <% end %>
</ul>


<%= link_to "Create New Event", new_event_path %>

