<%= form_with model: event do |form| %>
  <div>
    <%= form.label :name, "Event Name" %>
    <%= form.text_field :name %>
    <% event.errors.full_messages_for(:name).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.date_select :date %>
    <% event.errors.full_messages_for(:date).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
    <% event.errors.full_messages_for(:location).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <div>
    <% if event.persisted? %>
      <%= form.submit "Update this event" %>
    <% else %>
      <%= form.submit "Create a New One" %>
    <% end %>
  </div>
<% end %>