<h1>Event Details</h1>

<ul>
  <li>Event name is <%= @event.name %>.</li>
  <li>The date of event is <%= @event.date.strftime("%A, %B %d, %Y") %>.</li>
  <li>The event is located at <%= @event.location %>.</li>
</ul>

<p>Attendance List</p>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.name %></li>
  <% end %>
</ul>
<br>
<br>
<% unless @event.creator_id == current_user.id %>
  <%= button_to "Attend this event", event_attendings_path(event_id: @event.id) %>
<% end %>