<h1>Invite Guests</h1>

<form action="/invitations" method="post" accept-charset="UTF-8" data-turbo="false">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <fieldset>
    <legend> Which guest do you want to invite?</legend>
    <% @users.each do |user|%>
      <div>
        <input type="radio", id="invitee" name="invitation[invitee]" value="<%=user.name %>">
        <label for="invitee"><%= user.name %></label>
      </div>
    <% end %>
  </fieldset>
  <fieldset>
    <legend>To which event?</legend>
    <% @events.each do |event| %>
      <div>
        <input type="radio" id="invited_event" name="invitation[invited_event]" value="<%= event.name %>">
        <label for="invited_event"><%= event.name %></label>
      </div>
    <% end %>
  </fieldset>
  <button type="submit">Submit</button>
</form>
